body, html, #brainbrowser, canvas {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

// dat light theme to match white background: http://brm.io/dat-gui-light-theme/

body .dg.main.taller-than-window .close-button {
    border-top: 1px solid #ddd;
}

body .dg.main .close-button {
    background-color: #ccc;
}
 
body .dg.main .close-button:hover {
    background-color: #ddd;
}

body .dg {
    color: #555;
    text-shadow: none !important;
}

body .dg.main::-webkit-scrollbar {
    background: #fafafa;
}

body .dg.main::-webkit-scrollbar-thumb {
    background: #bbb;
}
 
body .dg li:not(.folder) {
    background: #fafafa;
    border-bottom: 1px solid #ddd;
}
 
body .dg li.save-row .button {
    text-shadow: none !important;
}

body .dg li.title {
    background: #e8e8e8 url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlI+hKgFxoCgAOw==) 6px 10px no-repeat;
}

body .dg .cr.function:hover, body .dg .cr.boolean:hover {
    background: #fff;
}
 
body .dg .c input[type=text] {
    background: #e9e9e9;
}
 
body .dg .c input[type=text]:hover {
    background: #eee;
}
 
body .dg .c input[type=text]:focus {
    background: #eee;
    color: #555;
}
 
body .dg .c .slider {
    background: #e9e9e9;
}

body .dg .c .slider:hover {
    background: #eee;
}